/* General body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    background-image: url(./images/mount2.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
}

/* Title styling */
h1 {
    color: #fa6d1b;
}

/* Container styling for form */
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: rgba(148, 140, 140, 0.525);
}

/* Form styling */
form {
    display: flex;
    flex-direction: column;
}

/* Label styling */
label {
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
}

/* Input and textarea styling */
input[type="text"], 
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

/* Button styling */
button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color: #fa6d1b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #e67e22;
}
