body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    text-align: center;
    background-image: url(./images/mount2.jpg);
    background-size: auto; 
    background-position: center; 
    background-repeat: no-repeat; 
}

h1 {
    color: #fa6d1b;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background: rgba(148, 140, 140, 0.525);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
}

input[type="text"], 
textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
}

textarea {
    resize: vertical;
}

button {
    margin-top: 15px;
    padding: 10px;
    border: none;
    background-color: #fa6d1b;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #e67e22; /* Darker shade on hover */
}
